.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row-nowrap-sb{
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
}
.home-main{
  display:flex;
  flex-flow:column nowrap;
  align-items: center;
}
.home-bottom{
  display:flex; 
  flex-flow:row wrap;
  justify-content: space-between;
  width:100%;
}
.home-left{
  display:flex; 
  flex-flow:column nowrap;
  justify-content: space-between;
  width:20%;
}

.home-middle{
  display:flex; 
  flex-flow:column nowrap;
  justify-content: space-between;
  width:60%;
}

.home-right{
  display:flex; 
  flex-flow:column nowrap;
  justify-content: space-between;
  width:20%;
}
